@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/*===========================================================================
 공지
 
 수정해야할 기본 값
 font-size : 
 font-common-color : 
 font-family : 
 line-height : 1 / 1.5
 main-color : 
 sub-color : 
 image-size : initial / auto 
 input-border-color : 
 input-normal-color : 
 input-font-size : 
 textarea-border-color : 
============================================================================*/

/*===========================================================================
	RESET
============================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
br {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: middle;
}
ol,
ul,
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}
legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px;
}

body {
  background: #dbdbdb;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
  margin: 0 auto;
}
.shopping_wrap {
  height: 100%;
  padding: 40px;
  border-radius: 4px;
}
.shopping_wrap .logo {
  text-align: center;
}
.shopping_wrap .logo img {
  transition: 0.4s;
}
.shopping_wrap .logo:hover img {
  transform: scale(1.1);
}
.shopping_wrap .selector {
  display: flex;
  justify-content: space-between;
}
.shopping_wrap .selector .button {
  width: 15%;
  height: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.shopping_wrap .selector .button:hover {
  transform: scale(1.1);
}
.shopping_wrap .selector .button img {
  height: 100%;
}
.shopping_wrap .selector .button_box {
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}
.shopping_wrap .selector .button_box.blue {
  background: blueviolet;
}
.shopping_wrap .selector .button_box.yellow {
  background: orange;
}
.shopping_wrap .selector .button_box.pink {
  background: pink;
}

.shopping_wrap .items {
  height: calc(100% - 180px);
  margin-top: 40px;
  overflow-y: scroll;
}
.shopping_wrap .items li {
  padding: 20px;

  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.shopping_wrap .items li img {
  width: 40px;
}
.shopping_wrap .items li:last-child {
  margin-bottom: 0;
}
